body {
  background-color: yellowgreen;
}
.bg-img {
  background-image: url(../img/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first {
  float: left;
}
